PyYAML==3.11
docker-py==0.5.3
docopt==0.6.2
fig==1.0.0
requests==2.20.0
six==1.8.0
texttable==0.8.1
tweepy==2.3.0
websocket-client==0.11.0
wsgiref==0.1.2

redis==2.10.3

py==1.4.25
pytest==2.6.3
mock==1.0.1


pytest-cache==1.0
pytest-pep8==1.0.6
pep8==1.5.7
execnet==1.2.0

-e .
